html, body {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  background-color: #f0f0f0;
  padding: 10px;
  margin-top: auto;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-text {
  margin: 0;
}
