.footer {
    background-color: #f0f0f0;
    padding: 10px;
  }
  
  .footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .footer-text {
    margin: 0;
  }
  